<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.pe.yummykart.yummykart">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_logo"
        android:label="YummyKart"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activity.SmsActivity"
            android:label="@string/title_activity_sms"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent.StatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- SMS Receiver -->
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Intent service -->
        <service
            android:name=".service.HttpService"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:label="YummyKart"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent.StatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderHistory"
            android:label="Order History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RestaurantMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderCartActivity"
            android:label="Order Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentOrdersActivity"
            android:label="Current Orders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailsActivity"
            android:label="Order Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutAppActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>